.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
}
.nav-icons-container{
    position: relative;
}
.nav-icons-text{
    position: absolute;
    top:5px;
    font-size: 0.7rem;
}
.loader{
    position: absolute;
    top:50%;
}
