.product-box{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    
}
.product-image{
    width: 150px;
    height:150px;
}
.product-fav-icon{
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}
.product-cart-icon{
    position: absolute;
    top:40px;
    right:10px;
    cursor: pointer;
}
.product-box .card-subtitle{
    font-weight: 900!important;
}
.product-box .card-title{
    min-height: 4.5rem;
}