.body {
  display: grid;
  grid-template-columns: 100%;
}

.main-content {
  overflow-y: scroll;
}

.main-content::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main-content {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

html::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(250, 121, 1);
  border-radius: 10px;
}


@media screen and (min-width:992px) {
  .body {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 2rem;
  }

}