.top-navbar {
    height: 4rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    z-index: 200;
    position: fixed;
    width: 100%;
    background-color: #fff;
}

.top-navbar-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.top-navbar-form {
    width: 70%;
}

.top-navbar-search {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.top-navbar-cart-icon {
    position: relative;
    color: rgb(250, 121, 1);
}

.cart-count {
    position: absolute;
    top: -5px;
    font-size: 0.7rem;
    font-weight: 900;
    cursor: pointer;
}

.bottom-navbar {
    position: fixed;
    bottom: 10px;
    right: 5%;
    left: 5%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: rgb(250, 121, 1);
    z-index: 100;
}

.bottom-navbar ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    height: 3rem;
    padding:0rem 1rem;
    position: relative;
}
.bottom-navbar li .bottom-navbar-link{
    transition: transform 0.5s linear;
    -webkit-transition: transform 0.5s linear;
    -moz-transition: transform 0.5s linear;
    -ms-transition: transform 0.5s linear;
    -o-transition: transform 0.5s linear;
}

.bottom-icon{
    font-size: 24px;
    color:#fff;
}
.bottom-navbar .active,
.bottom-navbar .bottom-navbar-link:hover{
    background-color: #fff;
    height:50px;
    width:50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}
.bottom-navbar .active .bottom-icon {
    color:rgb(250, 121, 1);
}
.bottom-navbar .bottom-navbar-link:hover .bottom-icon{
    color: rgb(250, 121, 1)!important;
}
@media screen and (min-width:768px) {
    .bottom-navbar {
        right: 15%;
        left: 15%;
    }
    
}
@media screen and (min-width:992px) {
    .bottom-navbar {
        right: 30%;
        left: 30%;
    }
    
}