
.banner{
    color: #fff;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 2rem 1rem;
    margin-top: 6rem;
}
.banner .title{
    font-family: "Oswald", monospace;
}